ul {
  background-color: #6666ff;
  border: 1px solid #000000;
  width: 100px;
}

li {
  background-color: #cccccc;
  border: 1px solid #ffff00;
}

li#number2 {
  padding: 6px;
  margin-left: 12px;
  list-style-position: inside;
}

li#number3 {
  margin: 6px;
  list-style-position: inside;
  padding-left: 12px
}
